.pswrd-recovery-container{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
 }
 
 .pswrd-recovery-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 60px;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,1);
    border-radius: 12px;
 }

 .pswrd-recovery-form input{
    padding: 16px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 250px;
 }
 
 .pswrd-recovery-button{
 
    background-color: orange;
    width: 250px;
    height: 40px;
    margin-top: 14px;
    border: none;
    border-radius: 8px;
 }
 
 .pswrd-recovery-container a{
    margin-top: 16px;
    text-decoration: none;
  }
  