.Createcategory-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.Createcategory-container form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0px;
    width: 35%;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,1);
    border-radius: 12px;
}


.Createcategory-container form input{
    padding: 16px;
    margin: 10px 0px;
    border-radius: 5px;
    border: 1px solid gray;
    width: 350px;
}

.Createcategory-button{
    background-color: orange;
    width: 350px;
    height: 40px;
    margin-top: 14px;
    border: none;
    border-radius: 8px;
}

.Createcategory-return-button{
    background-color: rgb(48, 184, 48);
    width: 350px;
    height: 40px;
    margin-top: 8px;
    border: none;
    border-radius: 8px;
}