.Createproduct-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.Createproduct-container div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 85vh;
    box-shadow: 0px 0px 16px -8px rgba(0,0,0,1);
    border-radius: 12px;
}

.Createproduct-container form{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.Createproduct-container form label{
    font-weight: bold;
}

.Createproduct-container form input{
    border-radius: 8px;
    height: 32px;
    margin-top: 4px;
    margin-bottom: 16px;
}

.Createproduct-container form button{
    height: 40px;
    border: none;
    margin-bottom: 12px;
    border-radius: 8px;
}

.Createproduct-button{
    background-color: orange;
}

.Createproduct-return-button{
    background-color: #70c03f;
}