.item-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-image{
    width: 325px;
    height: 400px;
}

.item-data{
    display: flex;
    flex-direction: column;
    align-items: center;
}