.ProductDataTable-Container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.ProductDataTable-Head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.ProductDataTable-Head-leftside{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    flex: 0.7;
}

.ProductDataTable-Create-Button{
    width: 35%;
    height: 45px;
    border-radius: 8px;
    border: none;
    background-color: rgb(91, 181, 255);
    box-shadow: 0px 3px 2px gray;
}

.ProductDataTable-Create-Button:hover{
    background-color: rgb(74, 148, 207);
}

.ProductDataTable-Create-Button:active{
    box-shadow: 0px 1px 2px gray;
    transform: translateY(2px);
}

.ProductDataTable-Head-rightside{
    flex: 1;
}

.Datatable-logo{
    width: 150px;
    height: 150px;
}

.crud-container{
    width: 100%;
}

.Edit-Data-Button{
    border: none;
    border-radius: 8px;
    margin-right: 5px;
    height: 30px;
    width: 65px;
    background-color: orange;
    box-shadow: 0px 3px 2px gray;
}

.Edit-Data-Button:hover{
    background-color: rgb(223, 145, 0);
}

.Edit-Data-Button:active{
    box-shadow: 0px 1px 2px gray;
    transform: translateY(2px);
}

.Remove-Data-Button{
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    height: 30px;
    width: 65px;
    background-color: #70c03f;
    box-shadow: 0px 3px 2px gray;
}

.Remove-Data-Button:hover{
    background-color: rgb(36, 138, 36);
}

.Remove-Data-Button:active{
    box-shadow: 0px 1px 2px gray;
    transform: translateY(2px);
}

.ProductDataTable-Return-Button{
    border: none;
    border-radius: 8px;
    margin-left: 5px;
    height: 50px;
    width: 120px;
    margin-bottom: 12px;
    background-color: lightcoral;
    box-shadow: 0px 4px 2px gray;
}

.ProductDataTable-Return-Button:hover{
    background-color: rgb(194, 104, 104);
}

.ProductDataTable-Return-Button:active{
    box-shadow: 0px 1px 2px gray;
    transform: translateY(2px);
}