.email-sent-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.email-sent-img{
    margin-bottom: 22px;
    height: 100px;
    width: 100px;
}

.email-sent-container h2{

    margin: 0;

}

.email-sent-container button{
    width: 250px;
    height: 40px;
    margin-top: 22px;
    margin-bottom: 22px;
    border: none;
    background-color: orange;
    border-radius: 8px;
	cursor: pointer;
}

.email-sent-container a{
    text-decoration: none;
}