.navbar {
    height: 9vh;
    background: rgb(114, 151, 163);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-logo {
    color: white;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 10rem;
    height: 5rem;
    margin-right: 1rem;
  }
  
  .nav-items {
    margin: 0;
    display: flex;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: flex-end;
    margin-right: 2rem;
  }
  
  .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
    margin-right: 2rem;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    padding: 4px 16px;
    border-radius: 5px;
  }
  
  .nav-item a:hover {
    background: lightgreen;
  }

  .shopping-cart-logo{

    width: 3rem;
    height: 3rem;
    margin-left: 50px;
  }